[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
beautifulsoup4 = "*"
requests = "*"
cryptography = "*"
fake-useragent = "*"
numpy = "*"
dash = "*"
plotly = "*"
folium = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
